

@font-face {
    font-family: 'Bodoni';
    src: url('fonts/MBodoni-Book.eot');
    src: url('fonts/MBodoni-Book.eot?#iefix') format('embedded-opentype'),
        url('fonts/MBodoni-Book.woff2') format('woff2'),
        url('fonts/MBodoni-Book.woff') format('woff'),
        url('fonts/MBodoni-Book.ttf') format('truetype');

    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

//                      font-family: 'Lato', sans-serif;

