





///////////////////////////////home page//////////////////////////////////////

.home-lead-page-div{
    @extend #home-page-div;
    background-image: url(../images/mademoiselle-home.png);
}

.home-lead-page{
    @extend #home-page;
}

@media(min-width:567px){
    .home-lead-page{
        h1{
            font-size: $h1-font-size;
            letter-spacing: 2rem;
        }
    }
}

///////////////////////////////services page////////////////////////////////////

.services-lead-page-div{
    @extend #home-page-div;
    background-image: url(../images/services-home.png);
}

.services-lead-page{
    @extend #home-page;
    h1{
        padding-top: 28.3rem;
    }
}

/////////////////////////////////blog page//////////////////////////////////////


.blog-lead-page-div{
    @extend #home-page-div;
    background-image: url(../images/blog-home.png);
}

.blog-lead-page{
    @extend #home-page;
    h1{
        padding-top: 28.3rem;
    }
}

////////////////////////////////about page//////////////////////////////////////


.about-lead-page-div{
    @extend #home-page-div;
    background-image: url(../images/about-home.png);
}

.about-lead-page{
    @extend #home-page;
    h1{
        padding-top: 28.3rem;
    }
}



////////////////////////////////////eror404/////////////////////////////////////


.eror404-lead-page-div{
    @extend #home-page-div;
    background-image: url(../images/eror404-home.png);
}

.eror404-lead-page{
    @extend #home-page;
}

@media(min-width:567px){
    .eror404-lead-page{
        h1{
            font-size: $h1-font-size;
            letter-spacing: 2rem;
        }
    }
}

