

.section-contact{
    margin-top: 10.2rem;
    div.container{
        div.row{
            div{
                h4{
                    @extend #h4;
                    margin-bottom: 3rem;
                }
                form{
                    div{
                        input{
                            padding: 15px;
                            background-color: $gray-light;
                            border: none;
                            font-size: 1.6rem;
                            line-height: 2.5rem;
                        }
                    }
                    div{
                        textarea{
                            padding: 15px;
                            background-color: $gray-light;
                            border: none;
                            font-size: 1.6rem;
                            line-height: 2.5rem;
                        }
                    }
                    button{
                        padding-bottom: 1.5rem;
                        padding-top: 1.5rem;
                        padding-left: 3rem;
                        padding-right: 3rem;
                        border: 1px solid $black;
                        font-family: $lato;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        letter-spacing: 0.5px;
                        color: $black;
                    }
                }
            }
        }
    }
    div.adress-div{
        margin-top: 11rem;
        text-align: center;
        padding-top: 6rem;
        padding-bottom: 6rem;
        background-color: $cream;
        p{
            font-family: $lato;
            font-weight: 300;
            font-size: 2.4rem;
            line-height: 4.5rem;
            letter-spacing: normal;
            color: $black;
        }
    }
}






